<h1> All students enrolled for the 2020 Sinatra Central School Districts Science Fair</h1>

<br><br><br>

<% @students.each do |student| %> 
  Name: <%= student.name %> <br>
  Grade: <%= student.grade_level %>  <br>
  Project: <%= student.project %><br><br><br>
<% end %> 