<h1> All students enrolled for the 2020 Sinatra Central School Districts Science Fair</h1>

<br><br><br>

<% @students.each do |student| %> 
  Name: <%= student.name %> <br>
  Grade: <%= student.grade_level %>  <br>
  Project: <%= student.project %><br><br><br>
<% end %>
 
  
  
  
 

<br><br>

<form action="/students/new" method="get"> 
    <input type="submit" value="Enroll new student/Edit existing student"> 
</form>

<br><br>

<form action="/logout" method="post"> 
   <input type="submit" value="Logout"> 
</form>