
<form action="/students/new" method="post"> 
   <label for="students_name"> Students Name: </label>
     <input type="text" id="students_name" name="name">
     
   <label for="grade_level"> Grade level: </label>
     <input type="text" id="grade_level" name="grade_level">
     
   <label for="project"> Project: </label>
     <input type="text" id="project" name="project"> 
     
       <input type="submit" value="Submit"> 
</form>