
<h3> Please enter your students information to enroll them in this years Sinatra    Central School Science Fair. Held Saturday, March 21,2020. </h3>

<br><br><br>

<%= "Must include Students name, grade level, and project." 
      if @student && @student.errors.any?
      end %> 

<form action="/students/new" method="post"> 
   <label for="students_name"> Students Name: </label>
     <input type="text" id="students_name" name="name"><br>
     
   <label for="grade_level"> Grade level: </label>
     <input type="text" id="grade_level" name="grade_level"><br>
     
   <label for="project"> Project: </label>
     <input type="text" id="project" name="project"><br>
     
       <input type="submit" value="Submit"> 
</form>

<br><br><br>

<form action="/students" method="post"> 
    <input type="submit" value="View Students">
</form>

<br><br> 

<form action="/logout" method="post"> 
   <input type="submit" value="Logout"> 
</form>

