
<h3> Please enter your students information to enroll them in this years Sinatra High School Science Fair. Held Saturday, March 21,2020. </h3>

<br><br><br>

<h4>** TO edit or delete info, please input and submit original information first.</h4> 

<form action="/students/new" method="post"> 
   <label for="students_name"> Students Name: </label>
     <input type="text" id="students_name" name="name" required><br>
     
   
   
   <label for="grade_level"> Grade level: </label>
     <select name="grade_level" required>
       <option value="9th"> 9th </option>
       <option value="10th"> 10th </option>
       <option value="11th"> 11th </option>
       <option value="12th"> 12th </option>
     </select>
       
     
   <label for="project"> Project: </label>
     <input type="text" id="project" name="project" required><br>
     
       <input type="submit" value="Submit"> 
</form>

<br><br><br>

<form action="/students" method="post"> 
    <input type="submit" value="View Students">
</form>

<br><br> 

<form action="/logout" method="post"> 
   <input type="submit" value="Logout"> 
</form>

