

<h1> Students Name: <%= @student.name %> </h1>
<h3> Grade level: <%= @student.grade_level %> </h3>
<h3> Project: <%= @student.project %> </h3>


<form action="/students/ <%= @student.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete"> 
  <input type="submit" value="Delete"> 
</form> 
