<h1> Welcome <%= @user.name %> </h1>


<form action="/students" method="post"> 
    <input type="submit" value="View Students">
</form>

<br><br>

<form action="/students/new" method="get"> 
    <input type="submit" value="Enroll new student/Edit existing student"> 
</form>



<br><br>

<form action="/logout" method="post"> 
   <input type="submit" value="Logout"> 
</form>
