              <h1> Science Fair 2020 </h1>
 <h4> Please Sign Up to create an account, to be able to start enrolling students to participate in this years science expo. Saturday, March 21, 2020. </h4>


<form action="/signup" method="post">
  <label for="name"> Name: </label>
   <input type="text" id="name" name="name"> <br>
  <label for="email" Email: </label> 
   <input type="text" id="email" name="email"> <br>
  <label for="password"> Password: </label> 
   <input type="text" id="password" name="password"> <br>
   
  <input type="submit" id="submit" value="Submit"> 
  
</form> 