<h2> Please sign in to be able to view students enrolled, add new students, edit or delete student profiles.</h2>


<form action="/signin" method="post">
  <label for="email"> Email: </label>
   <input type="text" id="email" name="email"><br>
  <label for="password"> Password: </label>
   <input type="text" id="password" name="password"><br>
   
       <br>
   
  <input type="submit" id="submit" value="Submit"> 
</form>