<form action="/signin" mehod="post">
  <label for="email"> Email: </label>
   <input type="text" id="email" name="email">
  <label for="password"> Password: </label>
   <input type="text" id="password" name="password"> 
   
  <input type="submit" id="submit" value="Submit"> 
</form>