<h1> Welcome to Sinatra Central School Science Fair of 2020 </h1>

<img src="https://media.mnn.com/assets/images/2018/05/IllustrationOfVariousScienceConcepts.jpg.620x0_q80_crop-smart_upscale-true.jpg" alt="ScienceConcepts" width="950" height="500">



<h2> If you don't already have an account please <a href> Sign Up </a></h2>

<h2> Already have an existing account? <a href> Sign In </a></h2>
