<h1> Welcome to Sinatra Central School Science Fair of 2020 </h1>

<img src="https://media.mnn.com/assets/images/2018/05/IllustrationOfVariousScienceConcepts.jpg.620x0_q80_crop-smart_upscale-true.jpg">

<input type="submit" id="sign_up" value="Sign Up">

<input type="submit" id="sign_in" value="Sign In">

